:host {
    display: block;
    background-color: #ffffff;
    min-height: 100%;
}

h1 {
    font-size: 3rem;
    color: #000;
    margin: 0;
    font-weight: 700;
    padding: 40px 20px;
    text-align: center;
}