<nav #appNavbar class="navbar navbar-expand-lg navbar-dark" style="background-color: #000;">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" (click)="toggleMenu()" [attr.aria-expanded]="isMenuOpen"
            aria-controls="navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="#/">
            <strong>Demo01 App</strong>
            <span *ngIf="selectedCompany; else noCompanySelected" class="ms-2 text-light small selected-company-text">
                {{ selectedCompany.companyName }} ({{ selectedCompany.companyId }})
            </span>
            <ng-template #noCompanySelected>
                <span class="ms-2 text-light small selected-company-text">(no company selected)</span>
            </ng-template>
        </a>

        <div class="collapse navbar-collapse" id="navbarNav" [class.show]="isMenuOpen">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item" *ngFor="let item of menuItems; let i = index">
                    <a class="nav-link" *ngIf="item.path" [routerLink]="item.path" routerLinkActive="active"
                        (click)="closeMenu()">
                        {{ item.label }}
                    </a>

                    <ng-container *ngIf="item.subItems">
                        <a class="nav-link dropdown-toggle" href="#" (click)="toggleSubmenu(i, $event)">
                            {{ item.label }}
                        </a>
                    </ng-container>
                </li>
            </ul>

            <ul class="submenu show submenu-global" *ngIf="activeSubItems.length > 0">
                <li *ngFor="let subItem of activeSubItems">
                    <a class="submenu-item" [routerLink]="subItem.path" routerLinkActive="active" (click)="closeMenu()">
                        {{ subItem.label }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>